body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #0b6623; /* Vert gazon */
    color: #0c0c0c;
}

.dashboard {
    display: flex;
    height: 100vh;
}

.sidebar {
    background-color: #000000; /* Fond noir */
    padding: 20px;
    width: 200px;
}
.radar-chart-container {
    width: 800px;        /* largeur plus grande */
    height: 700px;       /* hauteur plus grande */
    margin: 30px auto;   /* centrer horizontalement avec marge en haut */
    background-color: #000;
    border-radius: 10px;
    padding: 15px;
    box-shadow: 0 0 15px #adff2f;
}

.sidebar h2 {
    color: #aef359; /* Vert clair citronné */
    font-size: 22px;
    text-shadow: 1px 1px 4px #88ff88;
    margin-bottom: 20px;
    text-align: center;
}

/* Titre des filtres (ex. Compétitions) */
.sidebar label[for="competition"],
.sidebar label[for="position"],
.sidebar label[for="Nationalite"] {
    color: #aef359;
    font-size: 1.1em;
    font-weight: bold;
    margin-bottom: 8px;
    display: block;
    border-left: 4px solid #aef359;
    padding-left: 10px;
    text-transform: uppercase;
}



/* Styles pour les filtres HTML (<select>) */
.sidebar select {
    background-color: #0d1b0e;
    color: white;
    border: 2px solid #aef359;
    border-radius: 6px;
    padding: 8px;
    font-weight: bold;
    width: 100%;
    margin-bottom: 20px;
}

/* Formulaire des filtres */
.sidebar .filter-dropdown {
    margin-bottom: 20px;
}

/* Boutons */
.sidebar form button {
    display: block;
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    background-color: #0f5132;
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 4px;
    font-weight: bold;
    transition: background 0.2s ease;
}

.sidebar form button.active,
.sidebar form button:hover {
    background-color: #aef359;
    color: #0b6623;
}

/* Contenu principal */
.main-content {
    flex: 1;
    padding: 30px;
    background-color: #0d0e0d;
    overflow-y: auto;
}

/* KPI */
.kpis-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
    margin-top: 20px;
    margin-bottom: 30px;
    flex-wrap: wrap;
}

.kpi-card {
    background-color: #064420;
    padding: 25px 30px;
    border-radius: 12px;
    text-align: center;
    color: white;
    font-size: 22px;
    min-width: 160px;
    box-shadow: 0 0 10px #aef359;
}

.kpi-card span {
    color: #aef359;
    font-weight: bold;
    font-size: 26px;
}

/* Graphiques */
.graphs-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    margin-top: 30px;
    padding: 0 20px;
}

.graph-item {
    background-color: #000000;
    padding: 15px;
    border-radius: 12px;
    box-shadow: 0 0 15px #aef359;
}
